name: Build and publish Docker image to Docker Hub

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to nvcr.io (NGC)
        if: ${{ secrets.NVCR_PASSWORD != '' }}
        uses: docker/login-action@v2
        with:
          registry: nvcr.io
          username: $oauthtoken
          password: ${{ secrets.NVCR_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./triton-custom-image/triton-custom-image
          file: ./triton-custom-image/triton-custom-image/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            docker.io/connermo/dockerenv:latest
            docker.io/connermo/dockerenv:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
